// Fonts
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

// Vendor
@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";

// Components
@import "_partials/base";
@import "_partials/footer";
@import "_partials/images";

.component-border {
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.title-news {
  color: #572600;
}

.social-youtube {
  color: #ff0000;
}

.social-youtube:hover,
.social-youtube:focus {
  color: lighten(#ff0000, 10%)
}

.social-facebook {
  color: #3b5998;
}

.social-facebook:hover,
.social-facebook:focus {
  text-decoration: none;
  color: #2d4373;
}

.social-twitter {
  color: #1da1f2;
}

.social-twitter:hover,
.social-twitter:focus {
  text-decoration: none;
  color: #0c85d0;
}

.social-github {
  color: #fafafa;
}

.social-github:hover,
.social-github:focus {
  text-decoration: none;
  color: #e1e0e0;
}
